body{
    background-color: rgb(232, 240, 247);
}
#formularioContenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-color: rgb(223, 230, 236);
    width: 25%;
    padding: 10px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 1px 1px white;
}
button{
    margin: 10px;
    padding: 5px;
    width: 25%;
}
label,input{
    width: 75%;
    margin: 5px;
}